<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= locals.title %> | Database Galore Co.</title>

  <link rel="icon" type="image/png" href="/favicon-16x16.png" />
  <link rel="stylesheet" href="/styles.css" type="text/css" />

  <% if (mMovies.length > 0) {%>
  <object id="ejsMonMoviesData" type="text/plain">
    <%= JSON.stringify(mMovies) %>
  </object>
  <% } %>

  <% if (pMovies.length > 0) {%>
    <object id="ejsGresFilmData" type="text/plain">
      <%= JSON.stringify(pMovies) %>
    </object>
    <% } %>
</head>