<nav class="navBar">
  <div class="left">
    <a href="/">Home</a>
  </div>
  <div class="title"><h1>DatabaseGalore.com</h1></div>
  <div class="right">
    <a href="">Login</a>
    <a href="">Sign Up</a>
  </div>
</nav>