<nav class="navBarContainer">
  <div class="left">
    <img src="/film-icon.webp" alt="film-icon.webp" width="64px" height="64px">
    <h1>DatabaseGalore.com</h1>
  </div>
  <div class="navFlex">
  <div class="home">
    <a href="/">Home</a>
  </div>
  <div class="right">
    <img src="/user.webp" alt="user.webp" width="32px" height="32px">
    <a href="">Account</a>
  </div>
  </div>
</nav>