<nav class="navBar">
  <div class="left">
    <a href="/">Home</a>
  </div>
  <div class="title"><h1>DatabaseGalore.com</h1></div>
  <div class="right">
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/delete">Delete</a>
  </div>
</nav>
