<html lang="en">
  <body>
    <main>
      <h3>Sign in here...</h3>
      <% if(messages.error) { %> <%- messages.error %> <% } %>
      <form action="/login" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign_In</button>
      </form>
    </main>
  </body>
</html>
