<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main class="loginContainer">
      <% if(messages.error) { %> <%- messages.error %> <% } %>
      <form action="/auth/login" method="POST">
        <h3>Sign In to Database Gallore</h3>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign_In</button>
      </form>
      <h3>
        No Account? No Problem! Register
        <a href="http://localhost:4000/auth/register">HERE</a>
      </h3>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
