<html lang="en">
  <body>
    <main>
      <h3>Register here...</h3>
      <form action="/register" method="POST">
        <label for="name">Name: </label>
        <input type="name" name="name" id="name" required />
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Register</button>
      </form>
    </main>
  </body>
</html>
