<html lang="en">
  <%- include("./partials/header.ejs") %>
  <body>
    <main>
      <h3>Sign Up here...</h3>
      <form action="/auth/register" method="POST">
        <label for="name">Enter Full Name: </label>
        <input type="name" name="name" id="name" required />
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />
        <button type="submit">Sign Up</button>
      </form>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
