<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <div class="success">
    <p>Your review was successfully created! Click the link to view it on your account&nbsp<a href="/auth/profile">view</a>.</p>
  </div>
</body>
<%- include('./partials/footer.ejs') %>

</html>