@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Lato&family=Montserrat:wght@500&family=Oldenburg&family=Righteous&display=swap");

/* Global */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  background-color: rgba(67, 198, 172, 0.15);
  /* background-color: rgba(196, 196, 196, 0.2); */
  background-color: rgba(229, 229, 229, 0.6);
}

body {
  flex-grow: 1;
}

.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: rgba(174, 174, 174);
  background-color: rgb(25, 22, 84);
  border-top: 2px solid rgb(255, 255, 255, 0.7);
  padding: 0.8rem;
}

.altFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
  color: rgba(174, 174, 174);
  background-color: rgb(25, 22, 84);
  border-top: 2px solid rgb(255, 255, 255, 0.7);
  padding: 0.8rem;
}

footer p {
  font-style: italic;
}

/* Nav Bar */

.navBarContainer {
  position: relative;
  display: flex;
  padding: 1rem 2.625rem 1rem 2.625rem;
  align-items: center;
  justify-content: space-between;

  /* background: linear-gradient(145deg, rgb(67, 198, 172), rgb(25, 22, 84)); */
  background: linear-gradient(145deg, rgb(25, 22, 84), rgb(67, 198, 172) 50%);
  /* background: linear-gradient(145deg, rgb(25, 22, 84), rgb(73, 227, 178) 50%); */
  border-bottom: 2px solid rgb(255, 255, 255, 0.7);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
}

.navBarContainer .left img {
  position: relative;
  float: left;
  top: 6px;
}

.navBarContainer .left h1 {
  float: left;
  text-align: center;
  margin: 19.92px 1rem 19.92px 1rem;
  color: rgb(67, 198, 172);
  -webkit-text-stroke: 1.2px rgb(202, 202, 202);

  font-family: "Righteous", cursive;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 1px;
}

.navBarContainer .navFlex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navBarContainer .navFlex .right {
  margin: auto 1rem auto 5rem;
  padding-left: 1rem;
}

.navBarContainer .navFlex .right img {
  position: relative;
  float: left;
  top: 11px;
}

.navBarContainer .navFlex .right a,
.navBarContainer .navFlex .home a {
  display: inline-block;
  padding: 14px;

  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-size: 23px;
  color: rgb(255, 255, 255, 0.68);
}

.navBarContainer .navFlex .home a:hover {
  border-radius: 50px;
  background-color: rgba(25, 22, 84, 0.15);
  color: rgb(255, 255, 255, 0.89);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navBarContainer .navFlex .right a:hover {
  color: rgb(255, 255, 255, 0.89);
  transition: all 0.3s ease 0s;
}

.navBarContainer .navFlex .right:hover {
  border-radius: 50px;
  background-color: rgba(25, 22, 84, 0.15);
  color: rgb(255, 255, 255, 0.89);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.navBarContainer .navFlex .right a:active,
.navBarContainer .navFlex .home a:active {
  background-color: white;
}

/* Error Pages */

.errTxt {
  margin: 1rem;
  float: left;
}

.errTxt p {
  color: rgb(37, 37, 37);
  font-size: 21px;
}

.errTxt b {
  color: red;
}

.errTxt .errDescrip {
  color: rgb(37, 37, 37);
  margin-top: 1rem;
  font-size: 19px;
}

/* Home Page */

.homeContainer {
  margin: 2rem 1rem auto 1rem;
}

.homeContainer .mongoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2.5rem;
}

.homeContainer .mongoHeader h2 {
  font-family: "Montserrat", sans-serif;
  margin-right: 0.5rem;
  background: linear-gradient(#d3d3d3, rgb(39, 167, 112));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Had to put this here because it tells me to "define the standard property 'backhround-clip for compatibility"? */
  background-clip: text;
}

.homeContainer .monSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.homeContainer .monSearch input {
  border: 0;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 4px;
  min-width: 8%;
  font-size: 16px;
  border-bottom: 2px solid rgb(39, 167, 112);
  background: transparent;
}

.homeContainer .monSearch input:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  outline: none;
  transition: 0.3s;
  border-image: linear-gradient(135deg, #d3d3d3, rgb(39, 167, 112));
  border-image-slice: 1;
}

/* .homeContainer form input::placeholder {
  color: rgb(255, 255, 255, 0.68);
} */

.homeContainer .monSearch input:focus::placeholder {
  background: linear-gradient(#d3d3d3, rgb(39, 167, 112));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homeContainer .monSearch button {
  width: 105px;
  height: 40px;
  margin-top: 4px;
  border: none;
  font-size: 1rem;
  color: rgb(255, 255, 255, 0.9);
  background-color: rgb(39, 167, 112);
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
}

.homeContainer .monSearch button:hover {
  background-color: rgb(25, 22, 84);
  border: 4px solid;
  border-image: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  border-image-slice: 1;
  box-shadow: 0px 5px 28px 0px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

.moviesContainer {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-row-gap: 1.5rem;
  position: relative;
  left: 10%;
}

.moviesContainer .movie {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moviesContainer .movie a {
  display: block;
  padding: 0.44rem;

  background-color: rgb(39, 167, 112);
  color: rgb(255, 255, 255, 0.75);
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(255, 255, 255, 0.7);
  border-radius: 1rem;
}

.moviesContainer .movie a:hover {
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(25, 22, 84);
  color: rgb(255, 255, 255, 0.89);
  text-decoration: none;
  border-color: rgb(255, 255, 255, 0.7);
  transition: 0.3s;
  /* transform: translateY(-2rem); */
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.35);
  /* margin-top: 3.5rem; */
}

.homeContainer hr {
  margin-top: 2rem;
  /* width: 100px;
  height: 100px;
  border-radius: 50%; */
  border-top: 3px double rgb(25, 22, 84);
}

/* Postgres Home Start */

.homeContainer .postgresHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2.5rem;
  margin-top: 2rem;
}

.homeContainer .postgresHeader h2 {
  font-family: "Montserrat", sans-serif;
  margin-right: 0.5rem;
  background: linear-gradient(rgb(34, 167, 240), rgb(17, 95, 154));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homeContainer .gresSearch {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.homeContainer .gresSearch input {
  border: 0;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 4px;
  min-width: 8%;
  font-size: 16px;
  border-bottom: 2px solid rgb(17, 95, 154);
  background: transparent;
}

.homeContainer .gresSearch input:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  outline: none;
  transition: 0.3s;
  border-image: linear-gradient(135deg, #d3d3d3, rgb(17, 95, 154));
  border-image-slice: 1;
}

/* .homeContainer form input::placeholder {
  color: rgb(255, 255, 255, 0.68);
} */

.homeContainer .gresSearch input:focus::placeholder {
  background: linear-gradient(rgb(34, 167, 240), rgb(17, 95, 154));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.homeContainer .gresSearch button {
  width: 105px;
  height: 40px;
  margin-top: 4px;
  border: none;
  font-size: 1rem;
  color: rgb(255, 255, 255, 0.9);
  background-color: rgb(17, 95, 154);
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
}

.homeContainer .gresSearch button:hover {
  background-color: rgb(25, 22, 84);
  border: 3px solid;
  border-image: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  border-image-slice: 1;
  box-shadow: 0px 5px 28px 0px rgba(0, 0, 0, 0.35);
  transition: 0.3s;
}

.filmsContainer {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-row-gap: 1.5rem;
  position: relative;
  left: 10%;
}

.filmsContainer .film {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filmsContainer .film a {
  display: block;
  padding: 0.44rem;

  background-color: rgb(17, 95, 154);
  color: rgb(255, 255, 255, 0.75);
  text-decoration: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
  border: 2px solid rgb(255, 255, 255, 0.7);
  border-radius: 1rem;
}

.filmsContainer .film a:hover {
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(25, 22, 84);
  color: rgb(255, 255, 255, 0.89);
  text-decoration: none;
  border-color: rgb(255, 255, 255, 0.7);
  transition: 0.3s;
  /* transform: translateY(-2rem); */
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.35);
  /* margin-top: 3.5rem; */
}

/* MongoDb Details Page */

.moviesDtailsContainer {
  margin: 2rem 1rem auto 1rem;
}

.moviesDtailsContainer h2 {
  font-family: "Montserrat", sans-serif;
  margin-right: 0.5rem;
  background: -webkit-linear-gradient(#d3d3d3, rgb(39, 167, 112));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* .moviesDtailsContainer .moviesDetails {
  display: grid;
  grid-template-columns: 35% 10% 20%;
  grid-template-rows: 1%;
  grid-template-columns: 1fr 35% 35%;
  grid-row-gap: 1.5rem;
  grid-row: span 2;
} */

/* .moviesDtailsContainer .moviesDetails .monDescription {
  grid-row: span 2;
} */

.moviesDetailsContainer .moviesDetails .monDescription {
  display: flex;
  flex-direction: column;

  float: left;
  width: 21%;
}

/* .moviesDtailsContainer .moviesDetails .monDescription h3 p {
  width: 50%;
} */

.moviesDetailsContainer .moviesDetails .monDescription img {
  border: 2px solid rgb(25, 22, 84);
  width: 380px;
  height: 380px;
}

/* .moviesDetailsContainer .moviesDetails .monSmallDetails {
  position: relative;
  right: 13%;
} */

/* MongoDb Search Page */

.searchGridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0.5rem;
}

.movieBox {
  display: flex;
  flex-direction: column;
  /* vertical-align: top;
  text-align: center; */
}

/* Login page */

.loginContainer,
.registerContainer {
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.loginContainer form,
.registerContainer form {
  width: 30%;
  font-size: 1.6rem;
  padding: 16px;
  border: 2px solid black;
  border-radius: 1rem;
  row-gap: 16px;
  background-color: rgb(67, 198, 172);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  display: grid;
  columns: 2;
}

.loginContainer h3,
.registerContainer h3 {
  text-align: center;
  margin: 10px 0px;
}

.loginContainer form input,
.registerContainer form input {
  padding: 8px;
}

.loginContainer button,
.registerContainer button {
  margin: auto;
  color: white;
  background-color: rgb(25, 22, 84);
  border-radius: 2rem;
  font-size: 1.6rem;
  width: fit-content;
  padding: 8px 16px;
}

.loginContainer button:hover,
.registerContainer button:hover {
  background-color: rgb(39, 32, 172);
}

.authMessage {
  text-align: center;
  font-size: 1.6rem;
  color: #c20808;
}

.profileContainer {
  display: inline-block;
  margin: 2%;
  padding: 2%;
}

.profileDetails {
  margin: 2% 0;
}

.profileDetailsTable tr {
  color: rgb(25, 22, 84);
  height: 30px;
  font-weight: 700;
}

.profileButtons {
  display: flex;
}

.profileButtons form {
  margin-right: 2%;
  padding: 2%;
}

.profileButtons form button {
  background-color: rgb(25, 22, 84);
  color: white;
  width: 200px;
  padding: 2%;
}

.profileButtons form button:hover {
  background-color: rgb(39, 32, 172);
}
