/* Home Page */

/* MongoDb Search Page */

.searchGridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-column-gap: 0px; */
  grid-row-gap: 0.5rem;
}

.movieBox {
  display: flex;
  flex-direction: column;
  /* vertical-align: top;
  text-align: center; */
}
